*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.front-page{
    display: grid;
    grid-template-columns: 1fr repeat(2,2fr);
    grid-template-rows: min-content repeat(2,2fr) min-content;
    grid-template-areas: "navbar navbar navbar"
                         "sidebar content content"
                         "sidebar content content"
                         "footer footer footer";
    grid-gap: 1rem;
    background-color: burlywood;
    height: 100vh;
    
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(26, 27, 28);
    background-color: aqua;
    width: 100%;
    height: 100px;
    grid-area: navbar;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 2rem;
    background-color: blue;
    grid-area: sidebar;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
    background-color: cadetblue;
    grid-area: content;
}
.footer{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: blueviolet;
    grid-area: footer;
    width: 100%;
    height: 100px;
}

@media only screen and (max-width:430px) {
    .front-page{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: min-content 2fr 2fr min-content;
        grid-template-areas: "navbar"
                             "sidebar"
                             "content"
                             "footer";
    }
  }
